.container {
  display: flex; 
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

.dark {
  background-color: black;
}

.blue {
  background-color: steelblue;
}

.purple {
  background-color: rgb(95, 36, 95);
}

.img {
  width: 25%;
  border-radius: 50%;
}

.profile {
  color: white;
  padding-left: 2rem;
  width: 75%;
}

.name {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 0.1rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: white;
  padding: 1rem px;
}

p {
  font-size: 0.8rem;
  padding: 0.2rem 0px;
}

